.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #000;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #FF007D;

  .cronItem {
    color: white;
  }
}


.App-header {
  background-color: #000;
  color: #FF007D;
  height: 2em;
  padding: 1em 0;
  text-transform: uppercase;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .modeButton {
    padding: 0.25em;
    border-radius: 0.75em;
  }
}

@media only screen and (min-width: 600px) {

  .congrats {
    font-size: 2.5rem;
  }

  .cronSelection {
      width: 22em;
      margin: 1em auto;
      justify-content: space-between;
      border-radius: 0.25em;
  }

  .nextCron {
    padding: 0.25em;
    border-radius: 0.75em;
    font-size: 2em;
  }
}

@media only screen and (max-width: 599px) {

  .congrats {
    font-size: 1.5rem;
  }

  .cronSelection {
      width: 90%;
      margin: 1em auto;
      padding: 0.8em;
      justify-content: space-between;
      border-radius: 0.25em;
  }

  .cronPhrase {
    width: 85%;
    min-height: 5em;
    font-size: 1.35rem;
  }

  .nextCron {
    padding: 0.25em;
    border-radius: 0.75em;
    font-size: 1.5em;
  }
}

.cronItem {
  width: 1em;
  border-radius: 0.25em;
  font-size: 1.5rem;
}

.App-link {
  color: #61dafb;
}

.congrats {
  &.inactive {
    visibility: hidden;
  }
}